aiogram==2.22.1
aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17
appdirs==1.4.4
asgiref==3.3.0
asn1crypto==1.5.1
async-timeout==4.0.2
asyncio==3.4.3
attrs==20.2.0
auto-py-to-exe==2.21.0
Automat==20.2.0
b0mb3r==0.1.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
bit==0.8.0
bitstring==3.1.7
bluetooth-mesh==0.1.29
boto3==1.15.4
botocore==1.18.4
bottle==0.12.21
bottle-websocket==0.2.9
branca==0.6.0
Brotli==1.0.9
bs4==0.0.1
buildozer==1.2.0
CacheControl==0.12.11
cachetools==4.2.2
camera==1.3.0
capstone==4.0.2
certifi==2022.6.15
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.1.0
click==7.1.2
cmake==3.18.4.post1
coincurve==17.0.0
colorama==0.4.6
colored-traceback==0.3.0
coloredlogs==10.0
colorlog==4.6.2
common==0.1.2
commonmark==0.9.1
comtypes==1.1.7
configparser==5.0.1
constantly==15.1.0
construct==2.9.52
crayons==0.4.0
crc==0.3.0
cryptography==3.4.7
cx-Freeze==6.3
cycler==0.10.0
Cython==0.29.28
darr==0.4.1
decorator==5.0.7
devcon-win==0.2.4.2
discord==1.0.1
discord.py==1.7.2
distlib==0.3.5
Django==3.1.3
dmtp==0.3.0
docopt==0.6.2
docutils==0.16
docx==0.2.4
dpath==2.0.1
easygui==0.98.3
EasyProcess==1.1
ecdsa==0.15
Eel==0.14.0
emoji==1.2.0
entrypoint2==1.0
envoy==0.0.3
esptool==4.1
et-xmlfile==1.1.0
exception==0.1.0
exif==1.3.1
ExifRead==2.3.2
face-recognition-models==0.3.0
fake-useragent==0.1.11
filelock==3.8.0
flake8==3.8.4
flake8-polyfill==1.0.2
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
folium==0.14.0
frozenlist==1.3.1
future==0.17.1
fuzzywuzzy==0.18.0
geocoder==1.38.1
geoip2==4.1.0
geojson==2.5.0
gevent==1.5.0
gevent-websocket==0.10.1
gitdb==4.0.5
GitPython==3.1.11
googlesearch-python==1.0.1
greenlet==1.1.0
guidata==2.3.0
guiqwt==4.3.0
html2text==2020.1.16
html5lib==1.1
humanfriendly==8.2
hyperlink==20.0.1
idna==2.10
importlib==1.0.4
importlib-metadata==6.0.0
importlib-resources==5.10.2
incremental==17.5.0
infi==0.0.1
install==1.3.3
intervaltree==3.1.0
IP2Location==8.7.2
ipython==7.23.1
ipython-genutils==0.2.0
iso8601==0.1.16
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==0.16.0
jsonschema==2.6.0
jupyter-core==4.7.0
keyboard==0.13.5
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.glew-dev==0.2.0
kivy-deps.gstreamer==0.2.0
kivy-deps.gstreamer-dev==0.2.0
kivy-deps.sdl2==0.4.5
kivy-deps.sdl2-dev==0.2.0
Kivy-examples==2.0.0rc3
Kivy-Garden==0.1.4
kivy-garden.graph==0.4.0
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
kiwisolver==1.2.0
libpcap==1.11.0b7
libretranslatepy==2.1.1
libusb==1.0.23b7
lxml==4.6.3
Mako==1.1.4
mando==0.6.4
MarkupSafe==2.0.1
matplotlib==2.2.5
matplotlib-inline==0.1.2
maxminddb==2.0.3
mccabe==0.6.1
mcpi==1.2.0
mechanize==0.4.7
memory-profiler==0.58.0
MouseInfo==0.1.3
msgpack==1.0.4
mss==6.1.0
multidict==5.0.2
mutagen==1.45.1
mypy==0.812
mypy-extensions==0.4.3
Naked==0.1.31
nbformat==4.4.0
neat-python==0.92
netfilter==0.6.4
netifaces==0.11.0
nltk==3.6.2
nose==1.3.7
npyscreen==4.10.5
Nuitka==0.9.2
numpy==1.19.2
opencv-python==4.4.0.46
openpyxl==3.0.10
packaging==22.0
pafy==0.5.5
Panda3D==1.10.9
pandas==1.4.1
paramiko==2.7.2
parso==0.8.2
patool==1.12
pbkdf2==1.3
pcap-ct==1.3.0b1
pefile==2022.5.30
pep517==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pip-api==0.0.30
pip-download==0.4.2
pkg-about==1.0.8
platformdirs==2.5.2
plotly==4.13.0
plum-py==0.7.0
plumbum==1.7.0
plyer==2.0.0
progress==1.4
prompt==0.4.1
prompt-toolkit==3.0.18
psutil==5.8.0
ptyprocess==0.6.0
pwn==1.0
pwntools==4.6.0
py2exe==0.10.4.0
pyarmor==6.7.3
PyAudio @ file:///C:/Users/admin/Desktop/%D0%9A%D0%BE%D1%80%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BF%D0%B0%D0%B9%D1%82%D0%BE%D0%BD/PyAudio-0.2.11-cp38-cp38-win32.whl
PyAutoGUI==0.9.50
PyBluez==0.30
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.14.1
pydbus==0.6.0
pydub==0.25.1
pyelftools==0.27
pyFirmata==1.1.0
pyflakes==2.2.0
pygame==2.0.0
pygeoip==0.3.2
PyGetWindow==0.0.8
Pygments==2.7.1
PyHamcrest==2.0.2
pyhooked==0.8.1
pyinstall==0.1.4
pyinstaller==4.6
pyinstaller-hooks-contrib==2022.8
pylibjpeg-libjpeg==1.1.0
PyMsgBox==1.0.8
PyNaCl==1.4.0
pynput==1.7.1
pyowm==3.1.1
pyparsing==2.4.7
pyperclip==1.8.0
pypiwin32==223
pyqt-tools==1.0.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyreadline==2.1
PyRect==0.1.4
pyscreenshot==3.0
PyScreeze==0.1.26
pyserial==3.5
PySocks==1.7.1
pyTelegramBotAPI==4.5.1
python-dateutil==2.8.1
python-for-android==2020.6.2
python-lightblue==1.0.3
python-nmap==0.6.4
python-vlc==3.0.11115
python-wifi==0.6.1
PythonQwt==0.10.2
pytoml==0.1.21
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
pyusb==1.2.1
pywifi==1.1.12
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.4.1
pyzmq==23.0.0
qrcode==7.3.1
QtPy==2.1.0
queuelib==1.6.2
radon==4.0.0
ratelim==0.1.6
raw-zlib==0.1.15
reedsolo==1.5.4
regex==2020.7.14
requests==2.25.1
retrying==1.3.3
rich==10.9.0
rope==0.18.0
ROPGadget==6.6
rpyc==5.0.1
ruamel.yaml==0.15.100
rule34==1.8.1
s3transfer==0.3.3
scapy==2.4.5
scapy-http==1.8.2
scikit-learn==0.23.2
scipy==1.5.2
screeninfo==0.6.7
secure-smtplib==0.1.1
selenium==3.141.0
sh==1.14.1
shellescape==3.8.1
SimpleCV==1.3
simplejpeg==1.6.4
simplejson==3.17.2
six==1.15.0
smmap==3.0.4
smtp-mail==0.0.2
sockets==1.0.0
sortedcontainers==2.4.0
sound==0.1.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
spark-parser==1.8.9
speech==0.5.2
SpeechRecognition==3.8.1
spur==0.3.22
SQLAlchemy==1.4.20
sqlparse==0.4.1
stem==1.8.1
stun==0.2.1
subprocess.run==0.0.8
supyr-struct==1.5.4
tabulate==0.8.7
termcolor==1.1.0
threaded==4.0.8
threadpoolctl==2.1.0
tinyaes==1.0.1
toml==0.10.1
tomli==2.0.1
tornado==6.1
tqdm==4.49.0
traitlets==5.0.5
translate==3.6.1
Twisted==21.2.0
twisted-iocpsupport==1.0.1
twitter==1.18.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
tzdata==2022.2
tzlocal==4.2
udp==0.4.0
uncompyle6==3.7.4
unicorn==1.0.2rc3
unzip==1.0.0
urllib3==1.25.10
ursina==3.5.0
usb==0.0.83.dev0
user-agent==0.1.9
vext==0.7.6
vext.gi==0.7.4
vidgear==0.2.5
vidstream==0.0.14
virtualenv==20.16.3
wcwidth==0.2.5
webdriver-manager==3.2.2
webencodings==0.5.1
websockets==10.3
Werkzeug==2.0.1
wget==3.2
whichcraft==0.6.1
wifi==0.3.8
wily==1.19.0
windows-curses==2.3.1
winshell==0.6
winwifi==1.0.3
wireless==0.3.3
WMI==1.5.1
wxPython==4.1.1
xdis==5.0.10
yarl==1.6.3
youtube-dl==2021.12.17
yt-dlp==2022.5.18
zipfile36==0.1.3
zipp==3.4.0
zope.interface==5.1.0
